Analyse\ fonctionnelle/
Rsc/
software/bin/
software/test/
software/obj/
software/CMakeFiles/
software/CMakeCache.txt
software/cmake_install.cmake
octave-workspace
*.o
*.out
*.exe
*.sublime-project
*.sublime-workspace
*.log
*.aux